
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 221, 221);
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 10px black;
    padding: 0 20px;
}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.logo span:first-child {
    color: #1552ff;
}

.logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;

}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    position: relative;
}

.menu li a {
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu li:hover {
    background: #1552ff;
}

.submenu > li:hover > .submenu, /* aplicano a mesma regra em submenus e menu */
.menu li:hover > .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #317dfa;
    list-style: none;
    min-width: 110%;
}

.submenu li:hover {
    background: #0c2770;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}