body {
    margin: 100px;
    
}

.box {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    /*
    transition-duration: 500ms;
    transition-property: width;
    transition-timing-function: cubic-bezier(1,-1.51, 1, 1);
    transition-delay: 500ms;
*/
    transition: width 500ms ease-in 500ms; /* shorthand*/
}

.box:hover {
    width: 500px;
    background-color: red;
}


   


