body{
    background-color: rgb(255, 253, 253);
 
}

    p{
color: rgb(34, 34, 34);
}
.foto-principal{
    width: 250px;
    border:2px solid rgb(177, 171, 171) ;  /*shorthand*/
    border-radius: 1% 2% 30% 30%; 
    border-style: inset;
    margin: 30px 30px 30px 30px; /*shorthand*/
    /*
   margin-top: 30px
   margin-right: 30px
   margin-bottom: 30px
   margin-left: 30px
    */

}
p{
    border-style: inset;

}
