a {
    color: red;
}

a:hover {       /* Essa pseudo classe muda a fonte do ancora quando passa o mouse em cima*/
    color: green;
    font-weight: bold;
}

a:hover + .caixa { /* faz a caixa aparecer ao passar o mouse por cima*/
    display: block;

}



a:visited {
    color: yellow;
}

a:active {
    color: pink;
}

.caixa {
    display: none; /* some com a caixa*/
    width: 150px;
    height: 150px;
    background: black;
}
.caixa:hover {
    width: 10px;
    height: 10px;
    background: blue    ;
}

ul li:first-child { /* aplica a regra no primeiro filho */
    color: red;
}

ul li:last-child {
    color: blue;
}

.exemplo p:first-child {
    color: red;
}

.exemplo2 p:nth-child(5) { /* aplica aregra na posição escolhida dentro do parenteses*/
    color: orange;
}