

.container {
    background: silver;
    height: 600px;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

.caixa {
    width: 50px;
    height: 50px;

}

.red {
    order: 3    ;
    align-self: center;
    background-color: red;
    flex-grow: 2;
}

.blue {
    align-self: flex-end;
    background-color: blue;
    flex-grow: 2;


}

.yellow {
    align-self: center;
    background-color: yellow;
}

.green {
    align-self: flex-end;
    background-color: green;
}
