* {
    margin: 0;
    padding: 0 ;

}

body {
    background-color: rgb(221, 221, 221);
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 10px black;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;


}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.logo span:first-child {
    color: #1d52ff;
}

.logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;
}
.menu {
    display: flex;
}

.manu li {
   position: relative;
} 


.menu li a {
    padding: 17px;
    color: white;
    text-decoration:none;
    font-size: 14px;
}

.menu li a:hover {
    background: #1d52ff;
}

.menu li:hover > .submenu {
    display: block;

}

.submenu {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;

}
