body {
    margin: 100px;
    
}

.box {
    width: 300px;
    height: 300px;
    background-color: black;
    

    animation-name: minha-animacao;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}

 @keyframes minha-animacao {
     from { background-color: black;    

     }

     to {
         background-color: red;
         transform:rotate(360deg);
         border-radius: 50%;
         box-shadow: 0 0 150px black;

     }
 }



   


