
:root {
    --primary-color: #917758;
    --secondary-color: #3c2915;
    --primary-color-light: #f5eee6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    font-family: 'Poppins', sans-serif;
}


.container {
    
    width: 1170px;
    margin: 0 auto;
    

}

/**************
HOME
***************/

.home {
    background-size: cover;
    background-image: url(../images/bg-home.jpg);
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

.home .header {
    padding: 30px 0;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    
}

.home .header .nav ul a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
    
}

.home .header .nav ul a:hover {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.home .header .nav ul li .logo {
    margin: 0 30px;
}

/**************
HOME - BANNER
***************/

.home .banner {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -390px;
    margin-top: -75px;
}

.home .banner span {
    display: block;
}

.home .banner .slogan1 {
    color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.home .banner h1 {
    font-weight: 700;
    font-size: 120px;
}

.home .banner .slogan2 {
    margin-bottom: 15px;
}

/**************
SOBRE
***************/

.about {

    background-color: var(--primary-color);
}

.about .container {
    display: flex;
}

.about .schedule {
    position: relative;
    top: -50px;
    width: 33%;
    background-image: url(../images/brush-big.jpg);
    padding: 20px;
 
}

.about .schedule .overlay {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 40px 20px;

}

.about .schedule .icon-horarios {
    width: 50px;

}

.about .schedule h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
    margin: 0 auto 30px auto;
    font-size: 30px;
}

.about .schedule .text {
    margin: 10px 0;
}

.about .schedule .text:after {
    content: '•';
    display: block;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.about .schedule .text:last-of-type:after {
    content: '|';
}


.about .schedule .text h4 {
    color: gray;
    font-weight:400 ;
    font-size: 15px;
}

.about .schedule span {
    color: white;
    font-size: 15px;
    display: block;
}

.about .experience {
    width: 66%;
    color: white;
    margin-left: 7%;
    margin-top: 100px;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
}

.about .experience h2:after {
    display: block ;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #a38f78;
    margin: 20px 0;
}

.about .experience .text {
    display: flex;
    justify-content: space-between;

}

.about .experience .text p {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 17px;
}


/**********
SERVIÇOS 
***********/

.services {
    text-align: center;
    padding: 100px 0;
    background-color: var(--primary-color-light);
}

.services h2 {
color: var(--secondary-color);
font-weight: 400;
font-size: 40px;
margin-bottom: 15px;

}

.services .container {
   /*text-align: center;  Não sei se faz diferença entre aplicar aqui essa regra ou apenas em .services  */
    
}

.services .box {
    border: 3px solid var(--primary-color);
    padding: 70px 30px;
    margin: 30px;
}

.services .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.services .boxes h4 {
    color: var(--secondary-color);  
    margin-top: 30px;
}

.services .boxes p {
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 25px;
}

/**********
APPOINTMENT 
***********/

.appointment {
    padding: 100px 0;
    background-color: var(--primary-color); 
    background-image: url('../images/chair-ic.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
    height: 100vh;
}

.appointment h2 {
    text-align: center;
    color: var(--primary-color-light);
    font-weight: 400;
    font-size: 40px;    
    margin-bottom: 15px;
}

.appointment img {
    margin: 0 auto;
    display: block;
}

.appointment form {
    margin-top: 50px;
}

.appointment .personal-data {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    
}

.appointment .input-wrapper {
    width: 100%;
    margin-right: 50px;
}

.appointment .input-wrapper:last-of-type {
    margin-right: 0;

}


.appointment label {
    display: block;
    color: var(--primary-color-light);
    font-size: 14px;
    margin-bottom: 2px;
    color: var(--primary-color-light);


}
.appointment .personal-data select,
.appointment .personal-data input,
.appointment textarea {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 3px;
}
.appointment textarea {
    height: 120px;
    margin-bottom: 10px;
}
.appointment button {
    background-color: var(--secondary-color);
    color: var(--primary-color-light);
    font-size: 15px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

/**********
PORTFOLIO
***********/

.gallery {
    padding: 100px 0;
    background-color: var(--primary-color-light); 
   
}

.gallery h2 {
    text-align: center;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 40px;    
    margin-bottom: 15px;
}

.gallery img {
    margin: 0 auto;
    display: block;
}

.gallery .gallery-wrapper {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 900px;
    flex-wrap: wrap;
}

.gallery .gallery-wrapper div {
    border: 10px solid var(--primary-color);
    margin: 6px;
    width: 33%;
}

.gallery .gallery-wrapper div img {
    width: 100%;
}

/********
LOCATION
*********/

.location {
    padding: 100px 0;
    background-image: url(../images/bg-location.jpg);   
    background-size: cover;
}

.location .head {
    background-color: #191919;
    padding: 20px;
    width: 100%;
}

.location .container .head {
    display: flex;
    justify-content: space-between;
}

.location .container .head .info {
    display: flex;
    text-align:start;
    align-items: center;    
}

.location .container .head .info .icon img {
    margin-right: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 20px;


}
.location .container .head .info span {
    color: var(--primary-color-light);
    font-weight: 400;
    font-size: 15px;
}

.location .container .head .info span:first-child {
    color: silver;  
}

.location .map {
    width: 100%;
}

.location .map iframe {
    width: 100%;
}

/********
FOOTER
*********/

.footer {
    background-color: #191919;
    padding: 30px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
}