

.container {
    background: silver;
    height: 600px;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
}

.caixa {
    width: 50px;
    height: 50px;

}

.red {
    background-color: red;
}

.blue {
    background-color: blue;


}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
