* {   /*Essa regra reseta todas as margens do documento*/
    margin: 0;
}

html, body {
    height: 100%;

}

body {
    background: rgb(23,15,149);
    background: linear-gradient(163deg, rgba(23,15,149,1) 23%, rgba(120,141,254,1) 30%, rgba(45,64,175,1) 35%, rgba(45,100,213,1) 54%, rgba(39,115,219,1) 59%, rgba(33,129,224,1) 64%, rgba(28,141,229,1) 78%, rgba(24,152,233,1) 83%, rgba(13,180,243,1) 87%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
    
}

.profile {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.avatar {
    width: 80px;
    border:3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px white;

}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}
h2 {
    font-size: 16px;

}

.social img {
    width: 33px;
    text-align: center;

}