
.container {
    margin: 120px;
    padding: 25px;
    text-align: center;
}


h1 {
    color: var(--primary-color);

}

p {

}

h2 {
    color: var(--secondary-color);

}

h3 {
    color: var(--third-color);

}