
* {
    margin: 0;
    padding: 0;
}


body {
    color: white;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

.container {
    margin: 300px 300px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;

}

.logo {
    padding-top: 150px;
}

h1 {
   
}


.caixas {
   border-radius: 15%;
   width: 100%;
   padding: 15px;
}

.botao {
    background-color: rgb(27, 27, 196);
    padding: 15px;
    width: 100%;
}

.botao a {
    text-decoration: none;
    padding: 16px 91px;
}

.botao a:hover {
    color:  rgb(63, 63, 173);
    padding: ;
}

.botao:hover {
    background:   rgb(5, 5, 104);
}